In [15]:
import mysql.connector

In [16]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [17]:
  my_connection = mysql.connector.connect(user='root', password='Scribe123!',
                              host= 'localhost',
                              database='mytestdb',
                              auth_plugin='caching_sha2_password')

In [18]:
my_cursor = my_connection.cursor()
sql = 'Select * from basedata'
my_cursor.execute (sql)
for x in my_cursor:
    print(x)

(1, 'USA', 'East', 'New Hampshire', 'Manchester', 100000)
(2, 'USA', 'EAST', 'New Hampshire', 'Nashua', 200000)
(3, 'USA', 'EAST', 'Maine', 'Portland', 150000)
(4, 'USA', 'WEST', 'California', 'San Francisco', 300000)
(5, 'USA', 'WEST', 'California', 'Los Angales', 500000)
(6, 'CANADA', 'EAST', 'Ontario', 'Toronto', 500000)
(7, 'CANADA', 'EAST', 'Ontario', 'Ottawa', 600000)
(8, 'CANADA', 'WEST', 'British Columbia', 'Vancuver', 500000)
(9, 'CANADA', 'NORTH', 'Nunavut', 'Dawsn City', 5000)
(10, 'UK', 'South', 'England', 'London', 500000)
(11, 'UK', 'NORTH', 'Scotland', 'Edinborough', 300000)

In [5]:
sql = 'select * from city where stateid = 1'
my_cursor.execute(sql)
data = my_cursor.fetchmany(2)
for x in data:
    print(x)

(1, 'Manchester', 100000, 1)
(2, 'Nashua', 200000, 1)

In [6]:
data = my_cursor.fetchmany(2)
for x in data:
    print(x)

In [7]:
data = my_cursor.fetchmany(2)
for x in data:
    print(x)

In [8]:
sql = 'select * from city where stateid = 3'
if my_connection.is_connected():
    print('DB connection is still open')
else:
    my_connection = mysql.connector.connect(user='root', password='Scribe123!',
                              host= 'localhost',
                              database='utpaldb')
my_cursor = my_connection.cursor()
my_cursor.execute(sql)
data = my_cursor.fetchall()
for x in data:
    print(x)
print('===============================')
sql = 'select * from city where stateid = 5 '
if my_connection.is_connected():
    print('DB connection is still open')
else:
    my_connection = mysql.connector.connect(user='root', password='Scribe123!',
                              host= 'localhost',
                              database='utpaldb')
my_cursor = my_connection.cursor()
my_cursor.execute(sql)
data = my_cursor.fetchall()
for x in data:
    print(x)
print('=============================== basedata')
sql = 'Select * from basedata'
my_cursor.execute(sql)
data = my_cursor.fetchall()
for x in data:
    print(x)
print('===============================city')
sql = 'Select * from city'
my_cursor.execute(sql)
data = my_cursor.fetchall()
for x in data:
    print(x)
print('===============================state')
sql = 'Select * from state'
my_cursor.execute(sql)
data = my_cursor.fetchall()
for x in data:
    print(x)
print('===============================region')
sql = 'Select * from region'
my_cursor.execute(sql)
data = my_cursor.fetchall()
for x in data:
    print(x)
print('===============================country')
sql = 'Select * from country'
my_cursor.execute(sql)
data = my_cursor.fetchall()
for x in data:
    print(x)

DB connection is still open
(4, 'San Francisco', 300000, 3)
(5, 'Los Angeles', 500000, 3)
===============================
DB connection is still open
(8, 'Vancuver', 500000, 5)
=============================== basedata
(1, 'USA', 'East', 'New Hampshire', 'Manchester', 100000)
(2, 'USA', 'EAST', 'New Hampshire', 'Nashua', 200000)
(3, 'USA', 'EAST', 'Maine', 'Portland', 150000)
(4, 'USA', 'WEST', 'California', 'San Francisco', 300000)
(5, 'USA', 'WEST', 'California', 'Los Angales', 500000)
(6, 'CANADA', 'EAST', 'Ontario', 'Toronto', 500000)
(7, 'CANADA', 'EAST', 'Ontario', 'Ottawa', 600000)
(8, 'CANADA', 'WEST', 'British Columbia', 'Vancuver', 500000)
(9, 'CANADA', 'NORTH', 'Nunavut', 'Dawsn City', 5000)
(10, 'UK', 'South', 'England', 'London', 500000)
(11, 'UK', 'NORTH', 'Scotland', 'Edinborough', 300000)
===============================city
(1, 'Manchester', 100000, 1)
(2, 'Nashua', 200000, 1)
(3, 'Portland', 150000, 2)
(4, 'San Francisco', 300000, 3)
(5, 'Los Angeles', 500000, 3)
(6, 'Toronto', 500000, 4)
(7, 'Ottawa', 600000, 4)
(8, 'Vancuver', 500000, 5)
(9, 'Dawsn City', 5000, 8)
(10, 'London', 500000, 6)
(11, 'Edinborough', 300000, 7)
===============================state
(1, 'New Hampshire', 1)
(2, 'Maine', 1)
(3, 'California', 2)
(4, 'Ontario', 3)
(5, 'British Columbia', 4)
(6, 'England', 5)
(7, 'Scotland', 6)
(8, 'Nunavut', 7)
===============================region
(1, 'US EAST', 1)
(2, 'US WEST', 1)
(3, 'CANADA EAST', 2)
(4, 'CANADA WEST', 2)
(5, 'UK SOUTH', 2)
(6, 'UK NORTH', 3)
(7, 'CANADA NORTH', 2)
===============================country
(1, 'USA')
(2, 'CANADA')
(3, 'UK')

In [9]:
import csv
import pandas as pd
import numpy as np

In [10]:
with open('c:/users/utpal/desktop/test.csv', 'w', newline='') as f_handle:
    writer = csv.writer(f_handle)
    # Add the header/column names
    header = ['City', 'State', 'Population', 'Capital']
    writer.writerow(header)
    my_cursor.execute(sql)
    data = my_cursor.fetchall()
    # Iterate over `data`  and  write to the csv file
    for row in data:
        print(row)
        writer.writerow(row)
    f_handle.close()

31

(1, 'USA')

7

(2, 'CANADA')

10

(3, 'UK')

6

In [11]:
newdf = pd.read_csv("c:/users/utpal.datta/desktop/test.csv")
print(newdf)
newdf.head(10)

FileNotFoundError: [Errno 2] File b'c:/users/utpal.datta/desktop/test.csv' does not exist: b'c:/users/utpal.datta/desktop/test.csv'

In [12]:
import pyodbc 
import pandas as pd

cnxn = pyodbc.connect("DRIVER={SQL Server};"
                  "Server=LAPTOP-0RO30RDQ;"
                  "DATABASE=Leaderscape_Dev;"
                  "UID=utpal.datta@leaderscapecorp.com;"
                  "PWD=Scribe123!;"
                  "Trusted_Connection=Yes;"
                  "Connection Timeout=10")

df = pd.read_sql_query('select * from tblState', cnxn)
df.head(5)

ModuleNotFoundError: No module named 'pyodbc'

In [13]:
df = pd.read_sql_query('select * from tblProjectStakeholder', cnxn)
df.head(25)

NameError: name 'cnxn' is not defined

In [14]:
sql = 'select * from tblstate'
my_sqlex_cursor = cnxn.cursor()
with open('c:/users/utpal.datta/desktop/test.csv', 'w', newline='') as f_handle:
    writer = csv.writer(f_handle)
    # Add the header/column names
    header = ['StateId', 'CountryId', 'DisplayOrder', 'IsActive', 'NameState', 'NameStateShort']
    writer.writerow(header)
    my_sqlex_cursor.execute(sql)
    data = my_sqlex_cursor.fetchall()
    # Iterate over `data`  and  write to the csv file
    for row in data:
        writer.writerow(row)
    f_handle.close()

NameError: name 'cnxn' is not defined