# IMPORTANT: DO NOT DELETE THIS FILE!!!

# Creating a python notebook file.
1. From the portal click the Development Folder button. <br />
2. Create a new .ipynb file in the development directory.<br />
3. Use the card to access the Jupyter notebook.<br />

# Locating and accessing CSV folder
If you want to use the CSV's that are included in the package.<br />
pd.read_csv("../CSV/(The_CSV_Name).csv")

In [2]:
import pandas as pdD
data_frame = pd.read_csv("../CSV/HousePrices.csv")
data_frame

   House Price  Square Footage
0          245            1400
1          312            1600
2          279            1700
3          308            1875
4          199            1100
5          219            1550
6          405            2350
7          324            2450
8          319            1425
9          255            1700